
  <div id="site-title">
    <img src="<%= asset_path('andrew-and-rachels-wedding.png') %>" align="center" width="900" height="120" /><br>
  </div>
  
  <div class="">
    <div class="span12">
      <div class="content">
        <%= raw @page.content_for(:body) %>

        <iframe width="840" height="630" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?q=9550+Pine+Valley+Drive,+Woodbridge,+Ontario&amp;ie=UTF8&amp;hl=en&amp;view=map&amp;hq=&amp;hnear=9550+Pine+Valley+Dr,+Vaughan,+York+Regional+Municipality,+Ontario+L4L+1A6,+Canada&amp;t=m&amp;source=embed&amp;ll=43.880078,-79.472351&amp;spn=0.950262,1.757813&amp;z=9&amp;iwloc=A&amp;output=embed"></iframe>

        <br>
        <br>
        <small><a href="http://maps.google.com/maps?q=9550+Pine+Valley+Drive,+Woodbridge,+Ontario&amp;ie=UTF8&amp;hl=en&amp;view=map&amp;hq=&amp;hnear=9550+Pine+Valley+Dr,+Vaughan,+York+Regional+Municipality,+Ontario+L4L+1A6,+Canada&amp;t=m&amp;source=embed&amp;ll=43.880078,-79.472351&amp;spn=0.950262,1.757813&amp;z=9&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Google Map</a></small>

        
        <br>
        <img src="/assets/map-parking.jpg" width="840" height="1345">
        <br>
        <img src="/assets/map-driving.jpg" width="840" height="1345">
        <br>

        <div style="clear:both;"></div>
      </div>
    </div>
  </div>

  <div id="yellow-bird">
    <div id="birdy">
      <img src="<%= asset_path('yellow-bird.png') %>" align="center" width="180" height="128" />
    </div>
  </div>

