
  <div class="bodyrow row">
    <div class="span12">
      <div class="homecontent">
        <%=
          text = @page.content_for(:body)
          # redcarpet2 options from my octopress site writings.andxyz.com
          # ["hard_wrap", "no_intra_emphasis", "fenced_code_blocks", "autolink", "strikethrough", "superscript", "with_toc_data", "tables", "lax_spacing"]
          options = { 
                      :hard_wrap => true,
                      :no_intra_emphasis => true,
                      :fenced_code_blocks => true,
                      :autolink => true,
                      :strikethrough => true,
                      :superscript => true,
                      :with_toc_data => true,
                      :tables => true,
                      :lax_spacing => true
                    } 
          template = Tilt::RedcarpetTemplate.new(nil, options) { text }
          output = template.render
          raw output

        -%>
      </div>
    </div>
  </div>

