
  <div class="bodyrow row">
    <div class="span12">
      <div class="content">
        <h2 class="page-title"><%= raw @page.title %></h2>
        <br>
        <%=raw environment['email.html'] %>
      </div>
    </div>
  </div>