
  <div id="site-title">
    <img src="<%= asset_path('andrew-and-rachels-wedding.png') %>" align="center" width="900" height="120" /><br>
  </div>
  
  <div class="bodyrow row">
    <div class="span12">
      <div class="content">
        <%= raw @page.content_for(:body) %>
      </div>
    </div>
  </div>

  <div id="yellow-bird">
    <div id="birdy">
      <img src="<%= asset_path('yellow-bird.png') %>" align="center" width="180" height="128" />
    </div>
  </div>
