@import "twitter/bootstrap/reset.less";
@import "twitter/bootstrap/variables.less";
@import "twitter/bootstrap/mixins.less";
@import "myvariables.less"; 

div.photos-content {
  position: relative;
  width:    840px;
  margin:   auto;
}

div.photos-content div.griditem {
  width:  240px;
  margin: 20px;
  float:  left;
  .border-radius(4px); 
  .box-shadow(0 0 10px 0px #888);
}

div.photos-content img {
  .border-radius(4px);
}
